.new_user,
.edit_user,
.new_project {
  @include span-columns(4 of 12);
  @include shift(4 of 12);
  margin-top: 100px;

  input, textarea {
    background-color: $white;



    &[type=submit] {
      color: $green;
    }
  }

}